# Ambiente virtuale
.venv/
env/

# Dataset (quello da 2GB!)
data/

# Python cache
__pycache__/
*.py[cod]


#non caricare i pesi dei modelli perché sono molto pesanti per il repo
#*.pth
#output/models/
output/results/

#non caricare i file di sistema di mac os
.DS_Store
**/.DS_Store
output/results/quick_test_67_D.png
output/results/quick_test_116_G.png
